body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}


.header	{
	background-color: black;
}

.header img {
	display: block;
	height: 100px;
}

.mapouter {
	position:relative;
	text-align:right;
	height:500px;
	width:500px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:500px;
	width:500px;
}

.col-sm-6 {
	float: left;
	width: 49%;
  	height: 100%;
  	padding: 5px; 
}

.jumbotron {
  background-image: url("../img/pipes.jpeg");
  background-size: cover;
  height: 450px;
  width: 100%
  margin: 0;
}


/* Style of tab links */
.tablink {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 33.33%;
  margin-top: 0;
}

.tablink:hover {
  background-color: none;
}

/* Style of the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 80px 20px;
  height: 100%;
}

#About {
	background-color: black;
}

#Contact {
	background-image: url("../img/towel-on-wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#Services {
	background-image: url("../img/vehicle-digger.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

